In [1]:
import pyreadstat
import pandas as pd
import numpy as np

# Reading Data

In [9]:
df, meta = pyreadstat.read_sav("m_d_806.sav")
columns = ["AGEM","AGED","YOBM","QTRBTHM","AGEQK","SEXK","SEX2ND","RACED","KIDCOUNT","ASEX","AAGE","AQTRBRTH","ASEX2ND","AAGE2ND","AGEQ2ND",
	"TIMESMAR","MARITAL","QTRMAR","AGEMAR","YOBK","QTRBTHD","QTRBKID","WEEKSD","HOURSD","INCOME1D",
          "INCOME2D","FAMINC"]
df = df[columns]
print(df.head())
print(df.shape)

  AGEM AGED  YOBM QTRBTHM  AGEQK SEXK SEX2ND RACED  KIDCOUNT ASEX  ... QTRMAR  \
0   36   39  44.0       1   38.0    1      0    01       2.0    0  ...      1
1   37   39  42.0       2   34.0    1           01       1.0    0  ...      4
2   27   35  52.0       2   36.0    0      1    01       2.0    0  ...      1
3   25       54.0       3   23.0    0      1             2.0    0  ...      3
4   30   28  49.0       4   44.0    1      0    01       2.0    0  ...      3

  AGEMAR  YOBK QTRBTHD  QTRBKID WEEKSD HOURSD INCOME1D INCOME2D  FAMINC
0     25  70.0       2        3     52     40    28005    00000   33385
1     14  71.0       1        3     52     72    00000    10005   16460
2     17  71.0       1        1     16     48    00000    16005   16005
3     18  74.0                2                                   10310
4     18  69.0       1        1     32     40    09925    00000   20640

[5 rows x 27 columns]
(927267, 27)

In [10]:
df.replace(" ", float("NaN"),inplace= True)
df.replace("NA", float("NaN"),inplace= True)
df = df.dropna()
print(df.shape)

(655169, 27)

In [11]:
df.AGED  = pd.to_numeric(df.AGED , errors='coerce', downcast='integer')
df=df.dropna()
print(df.shape)

(561459, 27)

In [12]:
df.TIMESMAR  = pd.to_numeric(df.TIMESMAR , errors='coerce', downcast='integer')
df=df.dropna()
#print(df["ASEX"]==0)
df = df[df["TIMESMAR"]==1]
print(df.shape,"TIMESMAR")

(498180, 27) TIMESMAR

In [13]:
df.MARITAL  = pd.to_numeric(df.MARITAL , errors='coerce', downcast='integer')
df=df.dropna()
#print(df["ASEX"]==0)
df = df[df["MARITAL"]==0]
print(df.shape,"MARITAL")

(498180, 27) MARITAL

In [14]:
df.QTRBTHM  = pd.to_numeric(df.QTRBTHM , errors='coerce', downcast='integer')
df=df.dropna()
print(df.shape,"QTRBTHM")

(498180, 27) QTRBTHM

In [15]:
df.QTRBKID  = pd.to_numeric(df.QTRBKID , errors='coerce', downcast='integer')
df=df.dropna()
print(df.shape,"QTRBKID")

(498180, 27) QTRBKID

In [16]:
df.YOBM  = pd.to_numeric(df.YOBM , errors='coerce', downcast='integer')
df=df.dropna()
print(df.shape,"YOBM")

(498180, 27) YOBM

In [17]:
df.YOBK  = pd.to_numeric(df.YOBK , errors='coerce', downcast='integer')
df=df.dropna()
print(df.shape,"YOBK")

(498180, 27) YOBK

In [18]:
df.AGEMAR  = pd.to_numeric(df.AGEMAR , errors='coerce', downcast='integer')
df=df.dropna()
print(df.shape,"AGEMAR")

(498180, 27) AGEMAR

In [19]:
df.QTRMAR  = pd.to_numeric(df.TIMESMAR , errors='coerce', downcast='integer')
df=df.dropna()
#print(df["ASEX"]==0)
df = df[df["QTRMAR"]>0]
print(df.shape,"QTRMAR")
df["yom"] = np.where(df["QTRBTHM"]<=df["QTRMAR"], df["YOBM"]+df["AGEMAR"],df["YOBM"]+df["AGEMAR"]+1)
df["dom_q"] = df["yom"]+(df["QTRMAR"]/4)
df["do1b_q"] = df["YOBK"] + (df["QTRBKID"]/4)
df["illegit"] = np.where(df["dom_q"] > df["do1b_q"], 1, 0)

(498180, 27) QTRMAR

In [20]:
df = df[df["illegit"]==0]
print(df.shape,"illegit")

(451674, 31) illegit

In [22]:
df.AGEQK  = pd.to_numeric(df.AGEQK , errors='coerce', downcast='integer')
df=df.dropna()
print(df.shape,"AGEQK")

df['agefstm'] = (((4*(80-df["YOBM"]))-df["QTRBTHM"] -1)-df["AGEQK"])/4
df = df[df["agefstm"]>15]
df.agefstm  = pd.to_numeric(df.agefstm , errors='coerce', downcast='integer')
df=df.dropna()
print(df.shape,"agefstm")

(451674, 31) AGEQK
(441523, 32) agefstm

In [23]:
df.QTRBTHD  = pd.to_numeric(df.QTRBTHD , errors='coerce', downcast='integer')
df=df.dropna()
print(df.shape,"QTRBTHD")

(441523, 32) QTRBTHD

In [24]:
df["YOBD"] = np.where(df["QTRBTHD"] == 0, 80-df["AGED"], 79-df["AGED"])
print(df.shape,"YOBD")

(441523, 33) YOBD

In [25]:
df['agefstd'] = (((4*(80-df["YOBD"]))-df["QTRBTHD"])-df["AGEQK"])/4
df = df[df["agefstd"]>15]
df.agefstd  = pd.to_numeric(df.agefstd , errors='coerce', downcast='integer')
df=df.dropna()
print(df.shape,"agefstd")

(441337, 34) agefstd

In [26]:
df['blackd'] = (df["RACED"]==2)
df['hispd'] = (df["RACED"]==12)
df['whited'] = (df["RACED"]==1)
df['othraced'] = 1 -df['blackd']-df['hispd']-df['whited']

In [27]:
df["boy1st"] = (df["SEXK"]==0)
df["boy2nd"] = (df["SEX2ND"]==0)
print(df.shape)

(441337, 40)

In [28]:
df.WEEKSD  = pd.to_numeric(df.WEEKSD , errors='coerce', downcast='integer')
df=df.dropna()
print(df.shape,"WEEKSD")
df["workedd"] = (df["WEEKSD"]>0)

(441337, 40) WEEKSD

In [29]:
df.HOURSD  = pd.to_numeric(df.HOURSD , errors='coerce', downcast='integer')
df=df.dropna()
print(df.shape,"HOURSD")

(441337, 41) HOURSD

In [30]:
df.INCOME1D  = pd.to_numeric(df.INCOME1D , errors='coerce', downcast='integer')
df=df.dropna()
print(df.shape,"INCOME1D")

(441337, 41) INCOME1D

In [31]:
df.INCOME2D  = pd.to_numeric(df.INCOME2D , errors='coerce', downcast='integer')
df=df.dropna()
print(df.shape,"INCOME2D")

(441337, 41) INCOME2D

In [34]:
df["incomed"] = df["INCOME1D"] + np.where(df["INCOME2D"]>0,df["INCOME2D"],0)
df["incomed"] =  df["incomed"]*2.099173554
print(df.shape,"incomed")

(441337, 42) incomed

In [35]:
df.FAMINC  = pd.to_numeric(df.FAMINC , errors='coerce', downcast='integer')
df=df.dropna()
print(df.shape,"FAMINC")

(441337, 42) FAMINC

In [36]:
df["FAMINC"] =  df["FAMINC"]*2.099173554
df["FAMINC"]= np.where(df["FAMINC"]>1,df["FAMINC"],1)
df["FAMINC"] = np.log(df["FAMINC"])
print(df.shape,"FAMINC")

(441337, 42) FAMINC

In [37]:
df["morekids"] = (df["KIDCOUNT"]>2)

In [56]:
X_cols = ["morekids","AGED","agefstd", "boy1st","boy2nd", "blackd", "hispd", "othraced"]
Y_cols = ["incomed"]
X = df[X_cols]
X = np.array(X)
print(X.shape)
Y = df[Y_cols]
Y = np.array(Y)
print(Y.shape)

(441337, 8)
(441337, 1)

# Splitting data into training and testing

In [57]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

# Training Decision tree

In [58]:
from sklearn.tree import DecisionTreeRegressor,DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
model = DecisionTreeRegressor()

t =cross_val_score(model,x_train, y_train, cv=10)
model.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

# Below cell saves decision tree image in .png format

In [ ]:
from sklearn import tree
from IPython.display import SVG
from graphviz import Source
graph = Source( tree.export_graphviz(model, out_file=None, feature_names=X_cols))
png_bytes = graph.pipe(format='png')
with open('./husbands_married_women/annual_labour_income.png','wb') as f:
    f.write(png_bytes)

from IPython.display import Image
Image(png_bytes)

# Trainging Linear regressing model

In [60]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

# OLS Estimate

In [61]:
print("OLS Estimate:",reg.coef_[0][0])

OLS Estimate: -1368.6797077526708